<div class="col-md-12 column-layout">
    <div class="bg-container">
        <!--Title-->
        <div class="customer-data-title box title-box">
            <div class="customer-data-title-items customer-data-title-icon" style="width: 5%; padding: 0">
                <span class="package-icon-Interaccion rounded-circle"></span>
            </div>
            <div class="customer-data-title-items customer-data-title-label" style="padding-top: 10px; width: 60%">
                <span class="panel-titulo-cp">REGISTRO DE INTERACCIÓN</span>
            </div>
        </div>
        <!--End Title-->
        <div class="row">
            <div class="col-md-4">
                <label for="company" class="label-cp">Clase</label>
                <select name="SubTipoTrabajo" class="form-control input-sm">
                    <option>Seleccionar...</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="company" class="label-cp">Sub Clase</label>
                <select name="TipoServicio" class="form-control input-sm">
                    <option>Seleccionar...</option>
                </select>
            </div>
            <div class="col-md-4">
                <span>&nbsp;</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="company" class="label-cp">Servicio Afectado</label>
                <select name="Anexos" class="form-control input-sm">
                    <option>Seleccionar...</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="company" class="label-cp">Inconveniente</label>
                <select name="MotivoSOT" class="form-control input-sm">
                    <option>Seleccionar...</option>
                </select>
            </div>
            <div class="col-md-4">
                <span>&nbsp;</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" id="chkCaso" style="vertical-align:middle" class="style-checkbox" aria-label="..." />
                        <label for="chkCaso" style="vertical-align:middle" class="inline-label "></label>
                    </span>
                    <label for="company" class="form-control input-sm" aria-label="...">Crear Caso</label>
                </div>
            </div>
            <div class="col-md-4">
                <span>&nbsp;</span>
            </div>
            <div class="col-md-4">
                <span>&nbsp;</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="company" class="label-cp">Cola</label>
                <select name="Anexos" class="form-control input-sm">
                    <option>Seleccionar...</option>
                </select>
            </div>
            <div class="col-md-4">
                <span>&nbsp;</span>
            </div>
            <div class="col-md-4">
                <span>&nbsp;</span>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/Content/Lib/BloqueoF12")